---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>contact</title>
    </head>
    <body>
        <BaseLayout>
            este es un contacto esto es lo ultimo
        </BaseLayout>
    </body>
</html>