---
import Pokemon from "../components/Pokemon.jsx";
import BaseLayout from "../layouts/BaseLayout.astro";

/* const pokemon = await fetch("https://pokeapi.co/api/v2/pokemon/snorlax").then((res) => {
	return res.json()
});

console.log("🚀 ~ pokemon:", pokemon)
const {name, sprites:{front_default}} = pokemon
 */
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout>
			<h1>Astro</h1>
			<h2>Machi</h2>
			<Pokemon client:only/>
		</BaseLayout>
	</body>
</html>
